fastapi==0.115.0
uvicorn[standard]==0.32.0
sqlalchemy==2.0.36
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.12
langchain==0.3.4
langchain-ollama==0.2.0
chromadb==0.5.15
pydantic[email]==2.9.2
python-dotenv==1.0.1
requests
python-telegram-bot
flask
groq

